

body {
  color: rgb(var(--foreground-rgb));
  background-color: #e7e7e7;
  ;
  
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
